<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="EcoreMetamodelExtraction"
            id="EME.commands.category">
      </category>
      <command
            name="Extract From..."
            categoryId="EME.commands.category"
            id="EME.commands.extractWorkspaceCommand">
      </command>
      <command
            categoryId="EME.commands.category"
            id="EME.commands.extractCommand"
            name="Extract Ecore Metamodel">
      </command>
      <command
            categoryId="EME.commands.category"
            id="EME.commands.extractCustomCommand"
            name="Extract Ecore Metamodel (Custom Saving)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="EME.commands.extractWorkspaceCommand"
            class="eme.handlers.WorkspaceHandler">
      </handler>
      <handler
            class="eme.handlers.ProjectHandler"
            commandId="EME.commands.extractCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="EME.toolbars.emeToolbar">
            <command
                  commandId="EME.commands.extractWorkspaceCommand"
                  icon="src/main/resources/eme.gif"
                  tooltip="EcoreMetamodelExtraction (Extract &amp; Save from...)"
                  id="EME.toolbars.chooseProjectCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               icon="src/main/resources/eme.gif"
               label="EME"
               tooltip="Ecore Metamodel Extraction">
            <command
                  commandId="EME.commands.extractCommand"
                  id="EME.menus.extractCommand"
                  label="Extract Ecore Metamodel..."
                  mnemonic="S"
                  tooltip="Extract Ecore metamodel from the selected project.">
            </command>
            <command
                  commandId="EME.commands.extractCommand"
                  id="EME.menus.extractCommand"
                  label="Extract Ecore Metamodel... (Custom Saving)"
                  mnemonic="S"
                  tooltip="Extract Ecore metamodel from the selected project with custom saving.">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
</plugin>
