<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="EcoreMetamodelExtraction"
            id="EcoreMetamodelExtraction.commands.category">
      </category>
      <command
            name="Extract From..."
            categoryId="EcoreMetamodelExtraction.commands.category"
            id="EcoreMetamodelExtraction.commands.extractCommand">
      </command>
      <command
            categoryId="EcoreMetamodelExtraction.commands.category"
            id="EcoreMetamodelExtraction.commands.extractAndSaveCommand"
            name="Extract And Save from">
      </command>
      <command
            categoryId="EcoreMetamodelExtraction.commands.category"
            id="EcoreMetamodelExtraction.commands.extractAndGenerateCommand"
            name="Extract, Save And Generate From...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="EcoreMetamodelExtraction.commands.extractCommand"
            class="eme.handlers.ExtractHandler">
      </handler>
      <handler
            class="eme.handlers.ExtractAndSaveHandler"
            commandId="EcoreMetamodelExtraction.commands.extractAndSaveCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="EcoreMetamodelExtraction.commands.extractCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+1"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="EcoreMetamodelExtraction.commands.extractAndSaveCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="EME"
               mnemonic="M"
               id="EcoreMetamodelExtraction.menus.sampleMenu">
            <command
                  commandId="EcoreMetamodelExtraction.commands.extractCommand"
                  mnemonic="S"
                  id="EcoreMetamodelExtraction.menus.extractCommand">
            </command>
            <command
                  commandId="EcoreMetamodelExtraction.commands.extractAndSaveCommand"
                  id="EcoreMetamodelExtraction.menus.extractAndSaveCommand"
                  mnemonic="R">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="EcoreMetamodelExtraction.toolbars.emeToolbar">
            <command
                  commandId="EcoreMetamodelExtraction.commands.extractAndSaveCommand"
                  icon="src/main/resources/eme.gif"
                  tooltip="EcoreMetamodelExtraction (Choose And Save From...)"
                  id="EcoreMetamodelExtraction.toolbars.chooseProjectCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
</plugin>
